<div style="background-color: #add8e6; padding: 10px; height: 70px; border-radius: 15px;">
    <div style="font-family: 'Georgia', serif; font-size: 20px; padding: 10px; text-align: right; position: absolute; right: 20px;">
        Kanchan Sharma<br>
        <span style="font-family: 'Arial', sans-serif;font-size: 12px; color: #0a0a0a;">Tech Skills Trainee | AI/ML Bootcamp</span> <!--- Devashish Kumar | CodroidHub Private Limited | AI/ML Consultant --->
    </div>
</div>


<div style="background-color: #002147; padding: 10px; text-align: center; color: white; font-size: 32px; font-family: 'Arial', sans-serif;">
    CRUD Operations in  My-sql <br>
    <h3 style="text-align: center; color: white; font-size: 15px; font-family: 'Arial', sans-serif;"></h3>
</div>

CRUD operations in **MySQL** represent the **basic operations** used to interact with a database. CRUD stands for:

* **C**reate – Insert data into a table
* **R**ead – Retrieve data from a table
* **U**pdate – Modify existing data
* **D**elete – Remove data from a table

Here's a breakdown of each operation with SQL syntax and an example:

---

###  1. **CREATE** (Insert Data)

**Syntax:**

```sql
INSERT INTO table_name (column1, column2, ...)
VALUES (value1, value2, ...);
```

**Example:**

```sql
INSERT INTO users (name, email)
VALUES ('Alice', 'alice@example.com');
```

---

###  2. **READ** (Retrieve Data)

**Syntax:**

```sql
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

**Example:**

```sql
SELECT * FROM users;
```

Or with a condition:

```sql
SELECT name, email FROM users
WHERE id = 1;
```

---

###  3. **UPDATE** (Modify Data)

**Syntax:**

```sql
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;
```

**Example:**

```sql
UPDATE users
SET email = 'newalice@example.com'
WHERE id = 1;
```

---

###  4. **DELETE** (Remove Data)

**Syntax:**

```sql
DELETE FROM table_name
WHERE condition;
```

**Example:**

```sql
DELETE FROM users
WHERE id = 1;
```

**Important:** Always use `WHERE` with `UPDATE` and `DELETE` to avoid modifying/deleting all records.

---

<div style="background-color: lightblue; color: white; padding: 10px; text-align: center;">
    <h1>_________________________________END________________________________
<!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
    </h1> </div>

<div style="background-color: #002147; color: #fff; padding: 30px; text-align: center;">
    <h1>THANK YOU!
        <!--- Devashish Kumar | Tech Skills Trainer | CodroidHub Private Limited | AI/ML Consultant --->
</h1> </div>