You want weather data for any city in the whole world.

London temp, Paris pressure, Arizona winds

We cannot use our phone apps, or Google

We can use a publicly available weather API

We can fetch data - city - weather data

In [1]:

api_key = "27ff86e7f8f78a76911be517dd17a7c0"

In [2]:

import requests
import pandas as pd

In [3]:
city = input("Enter the city name: ")
city

'london'

In [4]:
url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"

In [11]:

response = requests.get(url)
print(response.status_code)

if response.status_code == 200:
    data = response.json()

else:
    print("City not found. Please check the name and try again.")
    exit()

200

In [12]:
data

{'coord': {'lon': 31.2497, 'lat': 30.0626},
 'weather': [{'id': 800,
   'main': 'Clear',
   'description': 'clear sky',
   'icon': '01d'}],
 'base': 'stations',
 'main': {'temp': 19.42,
  'feels_like': 19.3,
  'temp_min': 19.12,
  'temp_max': 19.42,
  'pressure': 1014,
  'humidity': 72,
  'sea_level': 1014,
  'grnd_level': 1008},
 'visibility': 10000,
 'wind': {'speed': 3.09, 'deg': 80},
 'clouds': {'all': 0},
 'dt': 1745818469,
 'sys': {'type': 1,
  'id': 2514,
  'country': 'EG',
  'sunrise': 1745810083,
  'sunset': 1745857801},
 'timezone': 10800,
 'id': 360630,
 'name': 'Cairo',
 'cod': 200}

In [6]:
# Extracting relevant data from the response
main_data = data['main']
temperature = main_data['temp']
pressure = main_data['pressure']
humidity = main_data['humidity']
timestamp = data['dt']

# Convert timestamp to datetime
import datetime
dt_object = datetime.datetime.fromtimestamp(timestamp)

print("City:",city)
print("Date and Time:", dt_object.strftime("%Y-%m-%d %H:%M:%S"))
print(f"Temperature: {temperature}°C")
print(f"Pressure: {pressure} hPa")  
print(f"Humidity: {humidity}%")

City: london
Date and Time: 2025-04-28 10:52:44
Temperature: 8.13°C
Pressure: 1027 hPa
Humidity: 88%

In [7]:
weather_data = {
    'City': city,
    'Date and Time': dt_object.strftime("%Y-%m-%d %H:%M:%S"),
    'Temperature (°C)': temperature,
    'Pressure (hPa)': pressure,
    'Humidity (%)': humidity
}

In [8]:
df1 = pd.DataFrame([weather_data])

df1

     City        Date and Time  Temperature (°C)  Pressure (hPa)  Humidity (%)
0  london  2025-04-28 10:52:44              8.13            1027            88

In [9]:
# if you want to get data of 5 cities at once, what will you do?

# use a for loop to iterate over a list of cities and store the data in a list of dictionaries
cities = ["London", "New York", "Srinagar", "Paris", "Berlin", "Ambala", "Delhi", "Naraingarh", "Mumbai", "Tokyo", "Beijing", "Seoul", "Bangkok", "Singapore", "Dubai", "Cairo"]

weather_data_list = []

for city in cities:
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=metric"
    
    response = requests.get(url)
    print(response.status_code)

    if response.status_code == 200:
        data = response.json()

    else:
        print("City not found. Please check the name and try again.")
        exit()

    # Extracting relevant data from the response
    main_data = data['main']
    temperature = main_data['temp']
    pressure = main_data['pressure']
    humidity = main_data['humidity']
    timestamp = data['dt']

    # Convert timestamp to datetime
    import datetime
    dt_object = datetime.datetime.fromtimestamp(timestamp)
        
    
    weather_data = {
        'City': city,
        'Date and Time': dt_object.strftime("%Y-%m-%d %H:%M:%S"),
        'Temperature (°C)': temperature,
        'Pressure (hPa)': pressure,
        'Humidity (%)': humidity
    }
    weather_data_list.append(weather_data)

df = pd.DataFrame(weather_data_list)
df

200
200
200
200
200
200
200
200
200
200
200
200
200
200
200
200

,City,Date and Time,Temperature (°C),Pressure (hPa),Humidity (%)
0,London,2025-04-28 11:03:16,8.50,1027,91
1,New York,2025-04-28 10:55:26,13.22,1021,41
2,Srinagar,2025-04-28 10:59:10,19.14,1017,32
3,Paris,2025-04-28 10:58:14,10.44,1025,83
4,Berlin,2025-04-28 11:01:45,8.10,1027,64
5,Ambala,2025-04-28 11:06:20,38.14,1005,10
6,Delhi,2025-04-28 10:53:21,34.05,1006,26
7,Naraingarh,2025-04-28 11:06:21,37.23,1006,11
8,Mumbai,2025-04-28 10:59:46,28.42,1010,66
9,Tokyo,2025-04-28 11:06:23,20.57,1005,55
10,Beijing,2025-04-28 11:00:22,24.94,1013,17
11,Seoul,2025-04-28 11:02:27,19.76,1008,37
12,Bangkok,2025-04-28 10:53:31,33.86,1010,68
13,Singapore,2025-04-28 10:58:30,30.84,1010,70
14,Dubai,2025-04-28 11:05:32,35.96,1008,10
15,Cairo,2025-04-28 11:04:29,19.42,1014,72